name: Build and release GitHub image

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  release:
    env:
      REGISTRY: docker.io
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/invidious

    permissions:
      contents: read

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux/amd64
            name: "AMD64"
            dockerfile: "docker/Dockerfile"
            tag_suffix: ""
          - os: ubuntu-24.04-arm
            platform: linux/arm64/v8
            name: "ARM64"
            dockerfile: "docker/Dockerfile.arm64"
            tag_suffix: "-arm64"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set tag date-SHA
        id: tag
        run: echo "tag=$(date +'%Y-%m-%d')-$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
            suffix=${{ matrix.tag_suffix }}
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest

      - name: Build and push Docker ${{ matrix.name }} image for Push Event
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          tags: |
            ghcr.io/nekosunevr/invidious:latest
            ghcr.io/nekosunevr/invidious:${{ env.tag }}
            ${{ steps.meta.outputs.tags }}
          build-args: |
            "release=1"
